<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<h1>Welcome to QuickBuy</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deleniti eum ipsa mollitia optio porro possimus quam quos reiciendis reprehenderit? Atque blanditiis dolorem inventore magnam odio quia, quo ratione saepe?</span><span>A dolore dolorem dolorum, expedita facilis impedit ipsum iusto necessitatibus non odit, perferendis ratione rem reprehenderit vel velit vero vitae voluptatem. Adipisci aliquam atque odio provident qui reprehenderit voluptas voluptatum?</span><span>Accusantium dolorem eius magnam neque ratione? Aperiam ipsa nostrum quidem quis quo sunt ut. Asperiores facere, fugiat impedit minima pariatur perferendis praesentium totam. Accusantium eum fugit incidunt itaque laudantium officia.</span></p>

</body>
</html>